@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.icons, .button {
  transition-duration: .2s;
}
.icons:hover, .button:hover {
  border-radius: 10px;
  transform: scale(1.1);
}